
 @media only screen and (max-width: 768px) {


/* --------------FOR TOP HEADER---------------------------------------- */
.header {
  background-color:ffffff;
}

.logo {
margin-left: 5%;
margin-bottom: 0px;
}

/* --------------FOR NAVIGATION BAR---------------------------------------- */
  li {
    float: left;
    display: inline block;
    margin: 0px 5px 2px 0px;
    font-size: 1em;
    background-color: #006699;
    color: black;
    padding: 10px 10px 10px 10px;
    font-style: oblique;
    border: none;
    border-width: 1px;
    font-weight: bolder;
  }

  li:hover {
    background-color: #a64dff;
  }

  a:link    {
    color:black;
     text-decoration:none
   }

  ul {
    list-style-type: none;
  }

/* --------------GENERAL DEFAULT STUFF---------------------------------------- */
  body {
    background: #e6e6ff;
    color: black;
    margin: 0;
    font-family: Georgia;
    letter-spacing: inherit;
  }

  @font-face {
      font-family: geometria;
      src: url(C:\Users\Zach\Desktop\Atom Programs\fonts\Geometria Light-Webfont);
  }

  h3 {
    font-size: 15px;
    margin: 40px 20px;
  }

  .col1 {
    background-color:#ffffff;
    width: 65%;
    display: inline-block;
    float:left;
    height: auto;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 90px;
    margin-right: 5px;
  }

  .col1 p {
  font-size: 20px;
  font-family: geometria;

  }

  .col1 h2 {
  font-family: Arial;

  }

  .col2 {
    background-color:#e6f2ff;
    width: 15%;
    display: inline-block;
    float:left;
    height: auto;
    border:none;
    margin-right: 90px;
  }

/* --------------INDEX PAGE / MAIN STORIES---------------------------------------- */
.image  {
 position: relative;
 
 font-size: 18px;
 float: left;

 width: 98%;

height: auto;
 clear: left;
}

.story1image {
height: auto;
width: 95%;
}

.mainfeature {
margin-left: 60px;
}

  .headlines {
    position: absolute;
    width: 80%;
    top: 60px;
    left: 0px;
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin:0;
    padding: 0;
  }


  #story1-hl1 span {
    margin: 0;
    font-size: 20px;
      font: Helvetica, Sans-Serif;
      color: white;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
  float:left;
  }

  #story1-hl2 span {
    margin: 0;
    font-size: 15px;
      font: Helvetica, Sans-Serif;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      float:left;
  }

  #story1-hldate span {
    font-size: 15px;
    font: Helvetica, Sans-Serif;
      letter-spacing: 1px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      float:left;
  }

  .headlinedate {
    font-size:16px;
  }

}


@media only screen and (min-width: 768px) {

  @media screen and (max-width: 1200px) {
    .col2 {
      display: none;
    }
  }

  body {
    background: #e6e6ff;
    color: black;
    margin: 0;
    font-family: Georgia;
    letter-spacing: inherit;
  }


  .header {
  background: #ffffff;
  }

  .logo {
    margin-left: 5%;
    margin-bottom: 0px;
  }

  .nav {
   background-color: #006699;
  display: inline-block;
  width: 100%;
  padding: 0px 0px 0px 70px;
  margin: 0px 0px 3px 0px;
  border-bottom: solid black;
  border-top: solid gray;
  border-width:2px;
  float:left;
    box-shadow: 3px 3px 3px grey;
    font-family: Arial;
    font-style:none;
  }

  .slogan {
  padding: 0px 0px 0px 0px;
    background-color: #0099e6;
    display: inline-block;
  float: left;
  width: 100%;
  border-top: 1px solid black;
  }

  .slogan p {
    margin: 0px;
    font-style: Georgia, serif;
    margin-left:39%;
    padding: 0px;
  }

  #newsphoto {
    width:50%;
    align: center;
  }

  li {
    float: left;
    display: inline block;
    margin: 0px 5px 2px 0px;
    font-size: 1em;
    background-color: #006699;
    color: black;
    padding: 10px 10px 10px 10px;
    font-style: oblique;
    border: none;
    border-width: 1px;
    font-weight: bolder;
  }

  li:hover {
    background-color: #a64dff;
  }

  a:link    {
    color:black;
     text-decoration:none
   }

  ul {
    list-style-type: none;
  }



  h3 {
    font-size: 15px;
    margin: 40px 20px;
  }

  .col1 {
    background-color:#ffffff;
    width: 65%;
    display: inline-block;
    float:left;
    height: auto;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 90px;
    margin-right: 5px;
  }


  @font-face {
      font-family: geometria;
      src: url(C:\Users\Zach\Desktop\Atom Programs\fonts\Geometria Light-Webfont);
  }

  .col1 p {
  font-size: 20px;
  font-family: geometria;

  }

  .col1 h2 {
  font-family: Arial;

  }

  .col2 {
    background-color:#e6f2ff;
    width: 15%;
    display: inline-block;
    float:left;
    height: auto;
    border:none;
    margin-right: 90px;
  }

  .header {
    background-color:ffffff;
  }

  @media (max-width: 1200px) {
    .col2 {
      display: none;
    }
  }


  .image  {
   position: relative;
   display:inline-block;
   font-size: 20px;
   float: left;
  }

/*  .story1image {
  height: 300px;
  width: 400px;

  } */

  .headlines {
    position: absolute;
    width: 80%;
    top: 60px;
    left: 0px;
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin:0;
    padding: 0;
  }


  #story1-hl1 span {
    margin: 0;
    font-size: 20px;
      font: Helvetica, Sans-Serif;
      color: white;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
  float:left;
  }

  #story1-hl2 span{
    margin: 0;
    font-size: 15px;
      font: Helvetica, Sans-Serif;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      float:left;
  }

  #story1-hldate span {
    font-size: 15px;
    font: Helvetica, Sans-Serif;
      letter-spacing: 1px;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      float:left;
  }

  .headlinedate {
    font-size:16px;
  }



  .mainfeature {
  margin-left: 60px;
  }


  .story1image {
   width: 460px;
  }

	}
